#calendar-header {
    display: flex;
    flex-direction: row;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
    max-width: 300px;
    width: 50%;
}

#calendar div {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.hover {
    display: flex;
    flex-direction: column;
}

.hover:hover {
   background-color: gray;
}

.empty {
    background-color: none;
}

.selected {
    background-color: cadetblue;
}